#container{
	margin:auto;
	max-width:800px;
}

#title{
	padding:0 0 0 1%;
}

#header{
float:right;
width:20%;
font-size:1.0em;
padding:0 2% 2% 2%;
}

#content{
width:80%;
padding:1%;
}

#social{
float:right;
width:20%;
font-size:1.0em;
padding:0 2% 2% 2%;
}

img{
max-width:100%;
max-height:100%;
}

p{
font-size:1.2em;
}


